body{
    background-color: antiquewhite;
}

#btnRck,#btnPpr,#btnSci{
    border: none;
    background: transparent;
}

#btnRck img, #btnPpr img, #btnSci img{
    height: 200px;
    width: auto;
}

#btnRck,#btnPpr,#btnSci:hover{
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px 0px;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
}