body{
    background-color: antiquewhite;
    justify-content: center;
    text-align: center;
}

#btnRck,#btnPpr,#btnSci{
    border: none;
    background: transparent;
}

#btnRck img, #btnPpr img, #btnSci img{
    width: 200px;
    height: auto;
    aspect-ratio: 3/2;
}

#btnRck,#btnPpr,#btnSci:hover{
    cursor: pointer;
}

#btnTry{
    width: 100px;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 30px 0px;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
}